.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
}

#statusString {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
    height: 40px;
    width: 200px;
}


div.playerBidText p {
    margin: 0px;
}

body,
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: 100%;
}

button {
    color: black;
}

img.playable:hover {
    border: 3px solid orange;
}

.selected {
    margin-top: -25px;
    margin-left: -5px;
    border: 5px solid orange;
    border-radius: 5px;
}
.chosen {
    margin-top: -5px;
    margin-left: -5px;
    border: 5px solid yellow;
    border-radius: 5px;
}

html { 
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

#playerScores {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
}

:root {
  --player-cw: 620px;
  --player-cw-half: -310px;
  --player-ch: 300px;
  --player-ch-half: -150px;
}

.playerBidText {
    font-size: 18px;
    width: var(--player-cw);
    height: var(--player-ch);
    position: absolute;
    text-align: center;
}
img {
    float: right;
    position: absolute;
}
.flipElement {
    transform: rotate(180deg);
}
#player0Status {
    margin-left: var(--player-cw-half);
    margin-top: var(--player-ch-half);
    bottom: 0%;
    left: 50%;
}
#player1Status {
    margin-left: var(--player-ch-half);
    margin-top: var(--player-ch-half);
    left: 0%;
    top: 50%;
    transform: rotate(90deg);
}
#player2Status {
    margin-left: var(--player-cw-half);
    left: 25%;
    top: 0%;
    transform: rotate(180deg);
}
#player3Status {
    margin-left: var(--player-cw-half);
    left: 75%;
    top: 0%;
    transform: rotate(180deg);
}
#player4Status {
    right: var(--player-ch-half);
    margin-top: var(--player-ch-half);
    top: 50%;
    transform: rotate(270deg);
}