#bid_section {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
}

div.playerBidText {
    position: absolute;
    font-size: 18px;
}
div.playerBidText p {
    margin: 0px;
}

body,
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

button {
    color: black;
}

img {
    position: absolute;
}

.selected {
    margin-top: -25px;
    margin-left: -5px;
    border: 5px solid orange;
    border-radius: 5px;
}
.chosen {
    margin-top: -5px;
    margin-left: -5px;
    border: 5px solid yellow;
    border-radius: 5px;
}

html { 
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}