<!DOCTYPE html>
<html>
<head>
    <title>500 Game</title>
</head>
<body>

<div id="game_section">
    <b>Teams:</b>
    <div>Your team: <span id="team_your-name">Dave and Mike</span>, <span id="team_your-points">50</span> points</div>
    <div>Your team: <span id="team_other-name">Josh and Jeremy</span>, <span id="team_other-points">120</span> points</div>
</div>

<div id="bid_section">
    <b>Your cards:</b><div id="bid_card-text">4H 6H 10H AceH JackH 8S Joker 6C 9C 10C</div>

    <b>Past bids:</b>
    <ul>
        <li>Josh: 6H</li>
        <li>Dave: 6NT</li>
        <li>Mike: 7H</li>
        <li>Jeremy: Pass</li>
        <li>Josh: Pass</li>
        <li>Josh: Pass</li>
    </ul>

    <b>Your bid:</b>
    <p>
        <button id="bid_misere">Misere</button>
        <button id="bid_open-misere">Open Misere</button>
    </p>
    <table>
        <tr>
            <td><button id="bid_button-6s">6 S</button></td>
            <td><button id="bid_button-6s">6 C</button></td>
            <td><button id="bid_button-6s">6 D</button></td>
            <td><button id="bid_button-6h">6 H</button></td>
            <td><button id="bid_button-6nt">6 NT</button></td>
        </tr>
        <tr>
            <td><button id="bid_button-7s">7 S</button></td>
            <td><button id="bid_button-7s">7 C</button></td>
            <td><button id="bid_button-7s">7 D</button></td>
            <td><button id="bid_button-7h">7 H</button></td>
            <td><button id="bid_button-7nt">7 NT</button></td>
        </tr>
        <tr>
            <td><button id="bid_button-8s">8 S</button></td>
            <td><button id="bid_button-8s">8 C</button></td>
            <td><button id="bid_button-8s">8 D</button></td>
            <td><button id="bid_button-8h">8 H</button></td>
            <td><button id="bid_button-8nt">8 NT</button></td>
        </tr>
        <tr>
            <td><button id="bid_button-9s">9 S</button></td>
            <td><button id="bid_button-9s">9 C</button></td>
            <td><button id="bid_button-9s">9 D</button></td>
            <td><button id="bid_button-9h">9 H</button></td>
            <td><button id="bid_button-9nt">9 NT</button></td>
        </tr>
        <tr>
            <td><button id="bid_button-10s">10 S</button></td>
            <td><button id="bid_button-10s">10 C</button></td>
            <td><button id="bid_button-10s">10 D</button></td>
            <td><button id="bid_button-10h">10 H</button></td>
            <td><button id="bid_button-10nt">10 NT</button></td>
        </tr>
    </table>    
</div>

<div id="kitty_section">
    Discard kitty:
    <div id="kitty_cards">
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
        <div><button id="kitty_card-10nt">10 NT</button></div>
    </div>
</div>

<div id="play_section">
    <div>On table: <span id="play_table-cards">6H 10H QH</span></div>
    <b>Your cards:</b>
    <div id="bid_card-text">
        <button id="play_card-4H">4H</button>
        <button id="play_card-4H">6H</button>
        <button id="play_card-4H">10H</button>
        <button id="play_card-4H">AceH</button>
        <button id="play_card-4H">JackH</button>
        <button id="play_card-4H">8S</button>
        <button id="play_card-4H">Joker</button>
        <button id="play_card-4H">6C</button>
        <button id="play_card-4H">9C</button>
        <button id="play_card-4H">10C</button>
    </div>

    <div>
        Tricks won;
        <p id="play_tricks-your-team">Your team: 0</p>
        <p id="play_tricks-other-team">Other team: 0</p>
    </div>
</div>

</body>
</html>