<!DOCTYPE html>
<html>

<head>
    <title>500 Game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="static/libs/socket.io.js"></script>
</head>

<body>
    <div id="lobbyContainer">
        <h1 id="lobbyHeading">Lobby</h1>
        <div id="connectionDetails">
            <p>What is your name?</p>
            <input type="text" name="player0Name" id="playerNameInput" autofocus maxlength="20">
            <button onclick="lobbyConnect()">Connect</button>
        </div>
        <div id="gamesDetails" hidden>
            <h2>Games:</h2>
            <ul id="gamesList"></ul>
            <button id="createGameButton">Create a game</button>
        </div>
        <div id="waitingDetails" hidden>
            <h2 id="waitingGameHeading"></h2>
            <h3>Players waiting:</h3>
            <ul id="waitingPlayersList"></ul>
            <span id="gameSetupPartnerMode" hidden>
                <div><b>Partner Mode:</b></div>
                <input type="radio" id="partnerModeCard" name="partnerMode" value="card">
                <label for="partnerModeCard">Pick card</label>
                <br>
                <input type="radio" id="partnerModeSelect" name="partnerMode" value="select">
                <label for="partnerModeSelect">Select</label>
                <br>
            </span>
            <button id="startGameButton" hidden>Start Game</button>
            <button id="leaveGameButton">Back</button>
        </div>
    </div>
    <div id="gameContainer" hidden>
        <span>
            <div id="playerScores">
                <div id="currentBidders"></div>
                <div id="currentBid"></div>
                <div><span id="player0ScoreName"></span>: <span id="player0Score"></span></div>
                <div><span id="player1ScoreName"></span>: <span id="player1Score"></span></div>
                <div><span id="player2ScoreName"></span>: <span id="player2Score"></span></div>
                <div><span id="player3ScoreName"></span>: <span id="player3Score"></span></div>
                <div><span id="player4ScoreName"></span>: <span id="player4Score"></span></div>
            </div>
            <div class="playerBidText" id="player4Status">
                <p>
                    <span id="player4Name"></span>
                    <span id="player4Tricks"></span>
                </p>
                <p id="player4Bid"></p>
                <div id="player4Cards"></div>
            </div>
            <div class="playerBidText" id="player3Status">
                <div class="flipElement">
                    <span id="player3Name"></span>
                    <span id="player3Tricks"></span>
                    <p id="player3Bid"></p>
                </div>
                <div id="player3Cards"></div>
            </div>
            <div class="playerBidText" id="player2Status">
                <div class="flipElement">
                    <span id="player2Name"></span>
                    <span id="player2Tricks"></span>
                    <p id="player2Bid"></p>
                </div>
                <div id="player2Cards"></div>
            </div>
            <div class="playerBidText" id="player1Status">
                <span id="player1Name"></span>
                <span id="player1Tricks"></span>
                <p id="player1Bid"></p>
                <div id="player1Cards"></div>
            </div>
            <div class="playerBidText" id="player0Status">
                <span id="player0Name"></span>
                <span id="player0Tricks"></span>
                <p id="player0Bid"></p>
                <div id="player0Cards"></div>
            </div>
        </span>
        <div class="centered">
            <div id="statusString"></div>
            <div id="kittyButtonControl" hidden>
                <div id="kittyCardSelection">
                    <b>Partner Card Selection</b>
                    <br>
                    Suit:
                    <br>
                    <input type="radio" id="input_suit_heart" name="suit" value="heart">
                    <label for="input_suit_heart">Hearts</label>
                    <input type="radio" id="input_suit_diamond"  name="suit" value="diamond">
                    <label for="input_suit_diamond">Diamonds</label>
                    <br>
                    <input type="radio" id="input_suit_club" name="suit" value="club">
                    <label for="input_suit_club">Clubs</label>
                    <input type="radio" id="input_suit_spade" name="suit" value="spade">
                    <label for="input_suit_spade">Spades</label>
                    <br>
                    Number:
                    <br>
                    <input type="radio" id="input_number_2"name="number" value="2">
                    <label for="input_number_2">2</label>
                    <input type="radio" id="input_number_3" name="number" value="3">
                    <label for="input_number_3">3</label>
                    <input type="radio" id="input_number_4" name="number" value="4">
                    <label for="input_number_4">4</label>
                    <input type="radio" id="input_number_5" name="number" value="5">
                    <label for="input_number_5">5</label>
                    <br>
                    <input type="radio" id="input_number_6" name="number" value="6">
                    <label for="input_number_6">6</label>
                    <input type="radio" id="input_number_7" name="number" value="7">
                    <label for="input_number_7">7</label>
                    <input type="radio" id="input_number_8" name="number" value="8">
                    <label for="input_number_8">8</label>
                    <input type="radio" id="input_number_9" name="number" value="9">
                    <label for="input_number_9">9</label>
                    <input type="radio" id="input_number_10" name="number" value="10">
                    <label for="input_number_10">10</label>
                    <br>
                    <input type="radio" id="input_number_jack" name="number" value="jack">
                    <label for="input_number_jack">J</label>
                    <input type="radio" id="input_number_queen" name="number" value="queen">
                    <label for="input_number_queen">Q</label>
                    <input type="radio" id="input_number_king" name="number" value="king">
                    <label for="input_number_king">K</label>
                    <input type="radio" id="input_number_ace" name="number" value="ace">
                    <label for="input_number_ace">A</label>
                </div>
                <button id="kittyFinishedButton">Done</button>
            </div>
            <div id="bid_section">
                <button id="bid_button_pass">Pass</button>
                <table>
                    <tr>
                        <td><button id="bid_button_5s">5 S</button></td>
                        <td><button id="bid_button_5c">5 C</button></td>
                        <td><button id="bid_button_5d">5 D</button></td>
                        <td><button id="bid_button_5h">5 H</button></td>
                        <td><button id="bid_button_5n">5 NT</button></td>
                    </tr>
                    <tr>
                        <td><button id="bid_button_6s">6 S</button></td>
                        <td><button id="bid_button_6c">6 C</button></td>
                        <td><button id="bid_button_6d">6 D</button></td>
                        <td><button id="bid_button_6h">6 H</button></td>
                        <td><button id="bid_button_6n">6 NT</button></td>
                    </tr>
                    <tr>
                        <td><button id="bid_button_7s">7 S</button></td>
                        <td><button id="bid_button_7c">7 C</button></td>
                        <td><button id="bid_button_7d">7 D</button></td>
                        <td><button id="bid_button_7h">7 H</button></td>
                        <td><button id="bid_button_7n">7 NT</button></td>
                    </tr>
                    <tr>
                        <td><button id="bid_button_8s">8 S</button></td>
                        <td><button id="bid_button_8c">8 C</button></td>
                        <td><button id="bid_button_8d">8 D</button></td>
                        <td><button id="bid_button_8h">8 H</button></td>
                        <td><button id="bid_button_8n">8 NT</button></td>
                    </tr>
                    <tr>
                        <td><button id="bid_button_9s">9 S</button></td>
                        <td><button id="bid_button_9c">9 C</button></td>
                        <td><button id="bid_button_9d">9 D</button></td>
                        <td><button id="bid_button_9h">9 H</button></td>
                        <td><button id="bid_button_9n">9 NT</button></td>
                    </tr>
                    <tr>
                        <td><button id="bid_button_10s">10 S</button></td>
                        <td><button id="bid_button_10c">10 C</button></td>
                        <td><button id="bid_button_10d">10 D</button></td>
                        <td><button id="bid_button_10h">10 H</button></td>
                        <td><button id="bid_button_10n">10 NT</button></td>
                    </tr>
                </table>
            </div>
            <div id="playedCardContainer"></div>
        </div>
        <script src="static/cardData.js"></script>
        <script src="static/canvas.js"></script>
        <script src="static/communication.js"></script>
    </div>
</body>

</html>